<div class="container m-5 d-flex justify-content-center">
<form [formGroup]="registerForm">
    <div class="input-group">
        <label for="exampleFormControlTextarea1" class="form-label">First and last name </label>
    
        <input type="text" aria-label="First name"formControlName="fname" class="form-control">
        <input type="text" aria-label="Last name" formControlName="lname" class="form-control">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="address" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Dob</label>
        <input type="date"formControlName="Dob"  class="form-control">      
    </div>
    <label for="exampleFormControlTextarea1" class="form-label">Role</label>
    <select class="form-select" formControlName="role" aria-label="Default select example">
        <option selected>Developer</option>
        <option value="admin">admin</option>
        <option value="2">Manager</option>
        <option value="3">HR</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">phone</label>
        <input type="text" formControlName="phone" class="form-control">      
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" formControlName="gender" value="Female">
        <label class="form-check-label" for="gridRadios2">
          Female
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"formControlName="gender"  value="Male" >
        <label class="form-check-label" for="gridRadios3">
          male
        </label>
      </div>
    <button  (click)="submit()" class="btn btn-dark pt-2">Submit</button>
  </form>
</div>