<div class="container m-5 p-5 d-flex justify-content-center bg-dark">
    <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{fname}}</li>
      <li class="list-group-item">{{lname}}</li>
      <li class="list-group-item">{{dob}}</li>
      <li class="list-group-item">{{gender}}</li>
      <li class="list-group-item">{{address}}</li>
      <li class="list-group-item">{{phone}}</li>
      <li class="list-group-item">{{role}}</li>
    </ul>
  </div>
</div>
